<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangdangdang.mapper.UserMapper">
    <insert id="insertOne" parameterType="com.xiangdangdang.entity.User"
            useGeneratedKeys="true">
        insert into users(username,password,salt,head,nickname,email,phone,qq,reputation) values
        (#{username},#{password},#{salt},#{head},#{nickname},#{email},#{phone},#{qq},#{reputation});
    </insert>
    
    <select id="findByName" parameterType="java.lang.String" resultType="com.xiangdangdang.entity.User">
        select * from users where username = #{name};
    </select>

    <select id="top10" resultType="java.util.Map">
        select username, reputation from users order by reputation limit 10;
    </select>

    <select id="findUserByTaskId" resultType="com.xiangdangdang.entity.User" parameterType="java.lang.Long">
        select
            *
        from
            users
        where
            uid in (select publish_uid from task_users where task_id=#{task_id})
    </select>
</mapper>